/* color palette: https://coolors.co/palette/233d4d-fe7f2d-fcca46-a1c181-619b8a */

*{
    margin: 0;
    padding: 0;
    border: 2px solid red; 

}

body {
    font-family: sans-serif;
    background-color: white;
    padding: 20px;
}

h1 {
    font-size: 64px;
    color: #FE7F2D;
    padding: 20px;
}

h2 {
    font-size: xx-large;
    color: #619B8A;
}

h3 {
    font-size: x-large;
    color: #A1C181;
}

p {
    color: #233D4D;
    font-size: large; 
}

a {
    color: #233D4D;
    font-weight: 800;
    font-size: x-large;
}